@page "/studentManagement"
@using Newtonsoft.Json
@using StudentAttandanceLibrary.Models
@using StudentAttandanceLibrary.Repositories.ModelDtos
@model StudentAttandance.Pages.Admin.StudentManagementModel
@{
    var account = TempData["Account"];
}
<div class="row bg-light p-3">
    <div class="col-md-4 d-flex justify-content-start">
        <h6><a class="text-decoration-none" href="">Home</a><span> | Student List</span></h6>
    </div>
    <div class="col-md-8 d-flex justify-content-end">
        <a class="text-decoration-none" href="#">
            @*            <span class="private-information text-light p-1 rounded-2"> @(JsonConvert.DeserializeObject<Account>(account.ToString()).AccountId)</span>
            *@
        </a> &nbsp;|&nbsp;
        <a class="text-decoration-none" href="#">
            <span class="private-information text-light p-1 rounded-2">logout</span>
        </a> &nbsp;|&nbsp;
        <a class="text-decoration-none">
            <span class="private-information text-light p-1 rounded-2">
                CAMPUS:
                FPTU-Hòa Lạc
            </span>
        </a>
    </div>
</div>
<form method="post" enctype="multipart/form-data">
    <div class="row my-3">
        <div class="row">
            <div class="col-md-9">
                <h4>Total Students: @ViewBag.TotalStudents</h4>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <div class="row">
                        <span asp-validation-for="ExcelFile" class="text-danger"></span>
                        @if (ViewData["Message"] != null)
                        {
                            <span class="text-danger">@ViewData["Message"]</span>
                        }
                        <div class="col-md-8">
                            <input class="form-control" type="file" id="formFile" asp-for="ExcelFile">
                        </div>
                        <div class="col-md-4">
                            <input class="btn btn-success" type="submit" asp-page-handler="Add" value="Add">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead style="background-color: #6b90da;">
                <tr class="align-middle">
                    <th class="fw-normal ">NO</th>
                    <th class="fw-normal">ROLLNUMBER</th>
                    <th class="fw-normal">FULLNAME</th>
                    <th class="fw-normal">EMAIL</th>
                    <th class="fw-normal">IMAGE</th>
                    <th class="fw-normal">DATE OF BIRTH</th>
                    <th class="fw-normal">GENDER</th>
                    <th class="fw-normal">ACTION</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 0;
                }
                @foreach (var student in @ViewBag.StudentList as List<StudentDto>)
                {
                    index++;
                    <tr>
                        <td>@index</td>
                        <td>@student.StudentId</td>
                        <td>@student.FullName</td>
                        <td>@student.Email</td>
                        <td>
                            <p class="text-center">
                                @if (string.IsNullOrWhiteSpace(@student.Image) && @student.Gender)
                                {
                                    <img src="~/images/avatar/Default_Avatar_Male.png" alt="Image" width="100px" height="100px"
                                 style="border: 1px solid black;">
                                }
                                else if (string.IsNullOrWhiteSpace(@student.Image) && !@student.Gender)
                                {
                                    <img src="~/images/avatar/Default_Avatar_Female.png" alt="Image" width="100px" height="100px"
                                 style="border: 1px solid black;">
                                }
                                else
                                {
                                    <img src="~/images/avatar/@student.Image" alt="Image" width="100px" height="100px"
                                 style="border: 1px solid black;">
                                }
                            </p>
                        </td>
                        <td>
                            @student.Dob.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @if (@student.Gender)
                            {
                                <p>Male</p>
                            }
                            else
                            {
                                <p>Female</p>
                            }
                        </td>
                        <td>
                            <p class="text-center">
                                <a class="btn btn-danger text-decoration-none" asp-page-handler="Delete">Delete</a>
                                <a class="btn btn-primary text-decoration-none" asp-page-handler="Update">Update</a>
                            </p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>