@page "/grouplist"
@using Newtonsoft.Json
@using StudentAttandanceLibrary.Models
@model StudentAttandance.Pages.User.GroupListModel
@{
    int currentTerm = (int)ViewBag.CurrentTermId;
    int currentCourse = (int)ViewBag.CurrentCourseId;
    int currentGroup = (int)ViewBag.CurrentGroupId;
    var account = HttpContext.Session.GetString("Account");
}
<div class="row bg-light p-3">
    <div class="col-md-4 d-flex justify-content-start">
        <h6><a class="text-decoration-none" href="">Home</a><span> | Groups</span></h6>
    </div>
    <div class="col-md-8 d-flex justify-content-end">
        @if (account != null)
        {
            <a class="text-decoration-none" href="#">
                <span class="private-information text-light p-1 rounded-2">@(JsonConvert.DeserializeObject<Account>(account.ToString()).AccountId)</span>
            </a>
        }
        &nbsp;| &nbsp;
        @*<a class="text-decoration-none" href="#">
            <span class="private-information text-light p-1 rounded-2">@(JsonConvert.DeserializeObject<Account>(account.ToString()).AccountId)</span>
        </a> &nbsp;|&nbsp;*@
        <a class="text-decoration-none" href="#">
            <span class="private-information text-light p-1 rounded-2">logout</span>
        </a> &nbsp;|&nbsp;
        <a class="text-decoration-none">
            <span class="private-information text-light p-1 rounded-2">
                CAMPUS:
                FPTU-Hòa Lạc
            </span>
        </a>
    </div>
</div>
<p style="font-size: 25px;" class="p-3 my-3 text-muted fw-bold">Select a course, then a group ...</p>
<div class="my-3">
    <table class="table table-bordered">
        <thead style="background-color: #6b90da;">
            <tr>
                <th class="fw-normal">CAMPUS/PROGRAM</th>
                <th class="fw-normal">TERM</th>
                <th class="fw-normal">COURSE</th>
                <th class="fw-normal">GROUP</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <table class="first-table table">
                        <tbody>
                            <tr>
                                <td><b>FU-HL</b></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="second-table table">
                        <tbody>
                            @foreach (var term in ViewBag.TermList as List<Term>)
                            {
                                <tr>
                                    <td>
                                        @if (@term.TermId == @currentTerm)
                                        {
                                            <p>
                                                @term.TermName
                                            </p>
                                        }
                                        else
                                        {
                                            <a class="text-decoration-none" asp-page="/User/GroupList"
                                       asp-route-termId="@term.TermId" asp-route-courseId="1" asp-route-groupId="0">
                                                @term.TermName
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="third-table table">
                        <tbody>
                            @foreach (var course in ViewBag.CourseList as List<Course>)
                            {
                                <tr>
                                    <td>
                                        @if (@course.CourseId == @currentCourse)
                                        {
                                            <p>
                                                @course.CourseName (@course.CourseCode)
                                            </p>
                                        }
                                        else
                                        {
                                            <a class="text-decoration-none" asp-page="/User/GroupList"
                                       asp-route-termId="@currentTerm" asp-route-courseId="@course.CourseId" asp-route-groupId="0">
                                                @course.CourseName (@course.CourseCode)
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="four-table table">
                        <tbody>
                            <div class="row">
                                @* @if (@currentGroup != 0)
                                {*@
                                @foreach (var group in ViewBag.GroupList as List<Group>)
                                {
                                    <div class="col-md-3">
                                        @if (@group.GroupId == @currentGroup)
                                        {
                                            <p class="mx-2">
                                                @group.GroupName
                                            </p>
                                        }
                                        else
                                        {
                                            <a class="text-decoration-none mx-2" asp-page="/User/GroupList"
                                       asp-route-termId="@currentTerm" asp-route-courseId="@currentCourse" asp-route-groupId="@group.GroupId">
                                                @group.GroupName
                                            </a>
                                        }
                                    </div>
                                }
                                @*}*@
                            </div>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@if (@currentGroup != 0)
{
    <p style="font-size: 25px;" class="p-3 my-3 text-muted fw-bold">... then see student list</p>
    <div class="my-3">
        <table class="table table-bordered">
            <thead style="background-color: #6b90da;">
                <tr class="align-middle">
                    <th class="fw-normal">INDEX</th>
                    <th class="fw-normal">IMAGE</th>
                    <th class="fw-normal">CODE</th>
                    <th class="fw-normal">FULL NAME</th>
                    <th class="fw-normal">GIVEN NAME</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 0;
                }
                @foreach (var student in ViewBag.StudentList as List<Student>)
                {
                    index++;
                    <tr>
                        <td>@index</td>
                        <td>
                            <p class="text-center">
                                @if (string.IsNullOrWhiteSpace(@student.Image) && @student.Gender)
                                {
                                    <img src="~/images/avatar/Default_Avatar_Male.png" alt="Image" width="100px" height="100px"
                             style="border: 1px solid black;">
                                }
                                else if (string.IsNullOrWhiteSpace(@student.Image) && !@student.Gender)
                                {
                                    <img src="~/images/avatar/Default_Avatar_Female.png" alt="Image" width="100px" height="100px"
                             style="border: 1px solid black;">
                                }
                                else
                                {
                                    <img src="~/images/avatar/@student.Image" alt="Image" width="100px" height="100px"
                             style="border: 1px solid black;">
                                }
                            </p>
                        </td>
                        <td>@student.StudentId</td>
                        <td>@student.FullName</td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}